<div class="">
  <img src="assets/img/gallery/gallery1/gallery-6.jpg" class="collageBanner">
  <div class="overlay"></div>
</div>

<!--Details Description  Section-->
<section class="details-description">
  <div class="container">
    <div class="about-details">
      <div class="about-headings">
        <div class="author-img">
          <img
            src="https://images.collegedunia.com/public/college_data/images/logos/1434977143jpjpjpjpj.jpg?h=80&w=80&mode=stretch"
            alt="authorimg">
        </div>
        <div class="authordetails">
          <h5>IIT Madras (IITM): Cutoff, Placements, Admission 2024, Courses, Fees, Rankings
          </h5>
          <p>IT Madras BTech admissions 2024 are based on JEE Advanced score 2024 followed by JoSAA Counselling. JEE
            Advanced 2024 Exam dates are out. The exam will be conducted on May 26, 2024.</p>

        </div>
      </div>

    </div>
    <div class="descriptionlinks">
      <div class="row">
        <div class="col-lg-7">
          <ul>
            <li><a href="javascript:void(0);"><i class="feather-map"></i> Chennai, Tamil Nadu </a></li>
            <li><a href="javascript:void(0);"><img src="assets/img/website.svg" alt="website">AICTE</a></li>
            <li><a href="javascript:void(0);"><i class="feather-share-2"></i> Estd 1959</a></li>
            <li><a href="javascript:void(0);"><i class="fa-regular fa-comment-dots"></i> Ranked 3 For Overall By The
                Week 2021</a></li>
          </ul>
        </div>
        <div class="col-lg-5">
          <div style="    display: flex;
                    float: right;">
                    
            <div class="callnow">
              
              <a (click)="openDialog()"><i class="feather-phone-call"></i> Apply Now</a>
            </div>
            <div class="callnow">
              <a class="downloadPdf"  (click)="downloadOpenDialog()">Download Brochure</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/Details Description  Section-->

<!--Details Main  Section-->
<div class="details-main-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">

        <!-- Recommended Banner -->
        <section class="section-blk recommended-blk style1-blk">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <div style="display: flex;"> <a (click)="onClick('AnchorId')" class="scrollButton">Info Or Overview
                  </a>
                  <a (click)="onClick('fees')" class="scrollButton">Courses And Fees</a>
                  <a (click)="onClick('admissions')" class="scrollButton">Admission</a>
                  <a (click)="onClick('Placement')" class="scrollButton">Placement</a>
                </div>

                <!-- <div class="row justify-content-center">
            <div class="col-lg-12">
              <div class="recommended-tabs-blk">
                <ul class="nav tabs-style gap-3" data-bs-tabs="tabs">
                  <li>
                    <a
                      [class.active]="activeTab[0] == 'hotels'"
                      aria-current="true"
                      data-bs-toggle="tab"
                      href="#hotels"
                      (click)="activeTab[0] = 'hotels'"
                    >
                      <span>
                        <img
                          src="assets/img/icons/trip-icon-01.svg"
                          alt="Dreamstrip Recommended"
                        />
                      </span>
                      Info or overview

                    </a>
                  </li>
                  <li>
                    <a
                      [class.active]="activeTab[0] == 'restaurants'"
                      (click)="activeTab[0] = 'restaurants'"
                      data-bs-toggle="tab"
                      href="#restaurants"
                    >
                      <span>
                        <img
                          src="assets/img/icons/trip-icon-02.svg"
                          alt="Dreamstrip Recommended"
                        />
                      </span>
                      Courses and fees
                    </a>
                  </li>
                  <li>
                    <a
                      [class.active]="activeTab[0] == 'shops'"
                      (click)="activeTab[0] = 'shops'"
                      data-bs-toggle="tab"
                      href="#shops"
                    >
                      <span>
                        <img
                          src="assets/img/icons/trip-icon-03.svg"
                          alt="Dreamstrip Recommended"
                        />
                      </span>
                      Admission
                    </a>
                  </li>
                  <li>
                    <a
                      [class.active]="activeTab[0] == 'business'"
                      (click)="activeTab[0] = 'business'"
                      data-bs-toggle="tab"
                      href="#business"
                    >
                      <span>
                        <img
                          src="assets/img/icons/trip-icon-04.svg"
                          alt="Dreamstrip Recommended"
                        />
                      </span>
                      Placement
                    </a>
                  </li>
                
                </ul>
              </div>
            </div>
          </div> -->
                <div class="card-body tab-content">
                  <div id="AnchorId">
                    <div class="card-body marginTop">
                      <h4>About IIT Madras</h4>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                        but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                      <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                        passages, and more recently with desktop publishing software like Aldus PageMaker including
                        versions of Lorem Ipsum.</p>
                    </div>
                  </div>

                  <div>
                    <div class="card-body marginTop" id="fees">
                      <h4>IIT Madras Fees & Eligibility
                      </h4>
                      <table>
                        <thead>
                          <tr>
                            <th>Course </th>
                            <th>Fees</th>
                            <th>Eligibility</th>
                            <th>Application Date </th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Cell 1</td>
                            <td>Cell 2</td>
                            <td>Cell 3</td>
                            <td>Cell 4</td>
                            <td>
                              <div class="callnow" (click)="openDialog()"><a ><i class="feather-phone-call"></i> Apply Now</a></div>
                            </td>
                          </tr>
                          <tr>
                            <td>Cell 1</td>
                            <td>Cell 2</td>
                            <td>Cell 3</td>
                            <td>Cell 4</td>
                            <td>
                              <div class="callnow" (click)="openDialog()"><a ><i class="feather-phone-call"></i> Apply Now</a></div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>

                  <div>
                    <div class="card-body marginTop" id="admissions">
                      <h4>Admissions
                      </h4>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                        but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                      <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                        passages, and more recently with desktop publishing software like Aldus PageMaker including
                        versions of Lorem Ipsum.</p>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                        but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                      <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                        passages, and more recently with desktop publishing software like Aldus PageMaker including
                        versions of Lorem Ipsum.</p>
                    </div>
                  </div>
                  <div class="card-body marginTop" id="Placement">
                    <h4>Placement
                    </h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                      the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                      type and scrambled it to make a type specimen book. It has survived not only five centuries, but
                      also the leap into electronic typesetting, remaining essentially unchanged.</p>
                    <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                      passages, and more recently with desktop publishing software like Aldus PageMaker including
                      versions of Lorem Ipsum.</p>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                      the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                      type and scrambled it to make a type specimen book. It has survived not only five centuries, but
                      also the leap into electronic typesetting, remaining essentially unchanged.</p>
                    <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                      passages, and more recently with desktop publishing software like Aldus PageMaker including
                      versions of Lorem Ipsum.</p>

                  </div>

                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- Blog  Section -->
        <section class="blog-section-two">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="section-heading-two text-center">
                  <h2>Latest Blogs</h2>

                </div>
                <div class="blog-slider">
                  <owl-carousel-o [options]="latestBlogOwlOptions">
                    <ng-container *ngFor="let slide of latestBlog">
                      <ng-template carouselSlide>
                        <div class="blog grid-blog blog-two aos" >
                          <div class="blog-image">
                            <a href="#"><img class="img-fluid" [src]="slide.img" alt="Post Image" /></a>
                          </div>
                          <div class="blog-content">
                            <h3 class="blog-title">
                              <a href="#">{{ slide.headline }}</a>
                            </h3>
                            <ul class="entry-meta meta-item">
                              <li class="date-icon">
                                <i class="feather-calendar"></i> {{ slide.date }}
                              </li>
                              <li class="blog-cat">{{ slide.category }}</li>
                            </ul>
                            <p class="blog-description">{{ slide.description }}</p>
                            <div class="viewlink">
                              <a href="#">{{ slide.detail }}
                                <i class="feather-arrow-right-circle"></i></a>
                            </div>
                          </div>
                        </div>
                      </ng-template>
                    </ng-container>
                  </owl-carousel-o>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- /Blog  Section -->

      </div>
      <div class="col-lg-4 theiaStickySidebar">
        <div class="stickybar">
          <div class="rightsidebar">
            <div class="card">
              <h4><img src="assets/img/details-icon.svg" alt="details-icon"> IIT Madras Highlights
              </h4>
              <ul>
                <li>Established Year : <span>1959</span></li>
                <li>Campus Area : <span>617 Acres
                  </span></li>
                <li>Approved by :<span>AICTE </span></li>
                <li>Institute Type: <span>Public
                  </span></li>
                <li>Cutoff: <span>148 - 3150 rank
                  </span></li>
                <li>Accepted Entrance Exams : <span>JEE Main and JEE
                  </span></li>

              </ul>
            </div>
            <div class="card">
              <h4><img src="assets/img/breifcase.svg" alt=""> Contact Information
              </h4>
              <div class="map-details">
                <img src="assets/img/gallery/gallery1/gallery-6.jpg" style="    width: 100%;">
              </div>
            </div>
            <!-- <div class="card">
              <h4><img src="assets/img/statistic-icon.svg" alt="location"> Statisfic</h4>
              <ul class="statistics-list">
                <li>
                  <div class="statistic-details"><span class="icons"><i class="fa-regular fa-eye"></i></span>
                    Views </div><span class="text-end"> 453563</span>
                </li>
                <li>
                  <div class="statistic-details"><span class="icons"><i class="feather-star"></i></span>
                    Ratings </div><span class="text-end"> 153</span>
                </li>
                <li>
                  <div class="statistic-details"><span class="icons"><i class="feather-heart"></i></span>
                    Favuorites </div><span class="text-end"> 123</span>
                </li>
                <li class="mb-0">
                  <div class="statistic-details"><span class="icons"><i class="feather-share-2"></i></span>
                    Shares </div><span class="text-end"> 50</span>
                </li>
              </ul>
            </div> -->

          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- /Details Main Section -->