<div *ngFor="let item of collageDetails?.data">
<div class="">
  <img src="assets/img/gallery/gallery1/gallery-6.jpg" class="collageBanner">
  <div class="overlay"></div>
</div>
<!--Details Description  Section-->
<section class="details-description">
  <div class="container">
    <div class="about-details">
      <div class="about-headings">
        <div class="author-img">
          <img
            src="https://images.collegedunia.com/public/college_data/images/logos/1434977143jpjpjpjpj.jpg?h=80&w=80&mode=stretch"
            alt="authorimg">
        </div>
        <div class="authordetails">
          <h5>{{item.attributes.college_name}}
          </h5>
          <p>IT Madras BTech admissions 2024 are based on JEE Advanced score 2024 followed by JoSAA Counselling. JEE
            Advanced 2024 Exam dates are out. The exam will be conducted on May 26, 2024.</p>

        </div>
      </div>

    </div>
    <div class="descriptionlinks">
      <div class="row">
        <div class="col-lg-7">
          <ul>
            <li><a href="javascript:void(0);"><i class="feather-map"></i> {{item.attributes.location}}</a></li>
            <li><a href="javascript:void(0);"><img src="assets/img/website.svg" alt="website">{{item.attributes.college_rank}}</a></li>
            <li><a href="javascript:void(0);"><i class="feather-share-2"></i> {{item.attributes.approved_by}}</a></li>
          </ul>
        </div>
        <div class="col-lg-5">
          <div style="    display: flex;
                    float: right;">
                    
            <div class="callnow">
              
              <a (click)="openDialog()"><i class="feather-phone-call"></i> Apply Now</a>
            </div>
            <div class="callnow">
              <a class="downloadPdf"  (click)="downloadOpenDialog()">Download Brochure</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/Details Description  Section-->

<!--Details Main  Section-->
<div class="details-main-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">

        <!-- Recommended Banner -->
        <section class="section-blk recommended-blk style1-blk">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <div class="displayTab"> <a (click)="onClick('AnchorId')" class="scrollButton">Info Or Overview
                  </a>
                  <a (click)="onClick('fees')" class="scrollButton">Courses And Fees</a>
                  <a (click)="onClick('admissions')" class="scrollButton">Admission</a>
                  <a (click)="onClick('Placement')" class="scrollButton">Placement</a>
                </div>

          
                <div class="card-body tab-content">
                  <div id="AnchorId">
                    <div class="card-body marginTop">
                      <h4>Overview</h4>
                      <p>{{item.attributes.college_description}}</p>
                    </div>
                  </div>

                  <div>
                    <div class="card-body marginTop" id="fees">
                      <h4>Courses And Fees
                      </h4>
                      <div [innerHTML]="item.attributes.table"></div>

                    </div>
                  </div>

                  <div>
                    <div class="card-body marginTop" id="admissions">
                      <h4>Admissions
                      </h4>
                      <p>{{item.attributes.about_admissions}}</p>

                    </div>
                  </div>
                  <div class="card-body marginTop" id="Placement">
                    <h4>Placement
                    </h4>
                    <p>{{item.attributes.about_placement}}</p>


                  </div>

                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- Blog  Section -->
        <section class="blog-section-two">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="section-heading-two text-center">
                  <h2>Latest Blogs</h2>

                </div>
                <div class="blog-slider">
                  <owl-carousel-o [options]="latestBlogOwlOptions">
                    <ng-container *ngFor="let slide of latestBlog">
                      <ng-template carouselSlide>
                        <div class="blog grid-blog blog-two aos" >
                          <div class="blog-image">
                            <a href="#"><img class="img-fluid" [src]="slide.img" alt="Post Image" /></a>
                          </div>
                          <div class="blog-content">
                            <h3 class="blog-title">
                              <a href="#">{{ slide.headline }}</a>
                            </h3>
                            <ul class="entry-meta meta-item">
                              <li class="date-icon">
                                <i class="feather-calendar"></i> {{ slide.date }}
                              </li>
                              <li class="blog-cat">{{ slide.category }}</li>
                            </ul>
                            <p class="blog-description">{{ slide.description }}</p>
                            <div class="viewlink">
                              <a href="#">{{ slide.detail }}
                                <i class="feather-arrow-right-circle"></i></a>
                            </div>
                          </div>
                        </div>
                      </ng-template>
                    </ng-container>
                  </owl-carousel-o>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- /Blog  Section -->

      </div>
      <div class="col-lg-4 theiaStickySidebar">
        <div class="stickybar">
          <div class="rightsidebar">
            <div class="card">
              <h4><img src="assets/img/details-icon.svg" alt="details-icon"> Collage Highlights
              </h4>
              <ul>
                <!-- <p>{{item.attributes.about_placement}}</p> -->

                <li>Established Year : <span>{{item.attributes.college_highlights.established_year}}</span></li>
                <li>Campus Area : <span>{{item.attributes.college_highlights.campus_area}}
                  </span></li>
                <li>Approved by :<span>{{item.attributes.college_highlights.approved_by}} </span></li>
                <li>Institute Type: <span>{{item.attributes.college_highlights.institute_type}}
                  </span></li>
                <li>Cutoff: <span>{{item.attributes.college_highlights.cutoff}}
                  </span></li>
                <li>Accepted Entrance Exams : <span>{{item.attributes.college_highlights.accepted_entrance_exams}}
                  </span></li>

              </ul>
            </div>
            <div class="card">
              <h4><img src="assets/img/breifcase.svg" alt=""> Contact Information
              </h4>
              <div class="map-details">
                <img src="assets/img/gallery/gallery1/gallery-6.jpg" style="    width: 100%;">
              </div>
            </div>
            <!-- <div class="card">
              <h4><img src="assets/img/statistic-icon.svg" alt="location"> Statisfic</h4>
              <ul class="statistics-list">
                <li>
                  <div class="statistic-details"><span class="icons"><i class="fa-regular fa-eye"></i></span>
                    Views </div><span class="text-end"> 453563</span>
                </li>
                <li>
                  <div class="statistic-details"><span class="icons"><i class="feather-star"></i></span>
                    Ratings </div><span class="text-end"> 153</span>
                </li>
                <li>
                  <div class="statistic-details"><span class="icons"><i class="feather-heart"></i></span>
                    Favuorites </div><span class="text-end"> 123</span>
                </li>
                <li class="mb-0">
                  <div class="statistic-details"><span class="icons"><i class="feather-share-2"></i></span>
                    Shares </div><span class="text-end"> 50</span>
                </li>
              </ul>
            </div> -->

          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- /Details Main Section --></div>