<mat-dialog-content class="mat-typography">
      <div class="container">
   
        <div class="forms">
            <div class="form-content">
              <div class="login-form">
                <div class="title">Register Now For Download Browser                </div>
              <form action="#">
                <div class="input-boxes">
                    <input type="text" placeholder="Enter your Full Name" required class="form-control">
                    <input type="text" placeholder="Enter your Email" required class="form-control">
                    <input type="text" placeholder="Enter your Mobile Number" required class="form-control">
                    <input type="text" placeholder="City" required class="form-control">
                    <select class="form-control select category-select">
                      <option value="">Course Interested In</option>
                      <option>Medical</option>
                      <option>Engineering</option>
                      <option>Management</option>

                    </select>

                  <div class="button input-box">
                    <input type="submit" value="Download">
                  </div>
                </div>
            </form>
          </div>
           
</div>
</div>
</div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>


<!-- Copyright 2024 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at https://angular.io/license -->