<!-- Breadscrumb Section -->
<div class="breadcrumb-bar">
  <div class="container">
    <div class="row align-items-center text-center">
      <div class="col-md-12 col-12">
        <h2 class="breadcrumb-title">Top Ranked Collage</h2>
        <nav aria-label="breadcrumb" class="page-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Top Ranked Collage</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- /Breadscrumb Section -->
<!-- Main Content Section -->
<div class="list-content">
  <div class="container">
    <div class="row">
      <div class="col-lg-6" *ngFor="let college of collageList">
        <div class="blog-listview">
          <div class="blog-listview">
            <div class="card">
              <div class="blog-widget">
                <div class="blog-img">
                  <a href="">
                    <img src="{{SITE_URL+ college.attributes.college_logo.data.attributes.url }}" class="img-fluid"
                      alt="blog-img" />
                  </a>
                </div>
                <div class="bloglist-content">
                  <div class="card-body">
                    <h6>
                      <a [routerLink]="['/collage-details', college.attributes.slug]">
                        {{ college.attributes.college_name }}
                      </a>

                      <a href="">{{ college. attributes.college_name}}</a>
                    </h6>
                    <div class="blog-location-details">
                      <div class="location-info">
                        <b>Locations:&nbsp;</b> {{ college.attributes.location }}
                      </div>
                      <div class="location-info">
                        <b>Approved By:&nbsp;</b> {{ college.attributes.approved_by }}
                      </div>
                    </div>
                    <div class="callnow">
                      <a class="downloadPdf" (click)="downloadOpenDialog()">Download Brochure</a>
                      <a (click)="openDialog()">Apply Now</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Main Content Section -->
